{% extends "header.html.twig" %}

{% block title %}
Details page
{% endblock %}
{% block brand_redirect %}
  {% if app.session.has("admin") %}

    {% else %}
      {{path('load_movies')}}
  {% endif %}

{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<style>
#search{
    width:550px;
    margin-left:30px;
}
.sliding{
    height:400px;
}
body{
  background-color:#d1d1d1;
}

</style>
{% endblock %}

{% block nav_items %}
<form class="form-inline" method="post" action="{{path('search_movie')}}">
    <input class="form-control mr-sm-2 " id="search" name="moviename" type="search" placeholder="Search by movie name" aria-label="Search" required>
    <button class="btn btn-outline-light my-2 my-sm-0" name = "submit" type="submit"><i class="fa fa-search"></i></button>
  </form>
{% endblock %}

{% block nav_logout %}
<div class="navbar-text">
    <a href="{{path('logout')}}" class="btn btn-primary " role="button" aria-pressed="true" title="Logout"><i class="fa fa-sign-out"></i>{{ app.user.name }} </a>
</div>
{% endblock %}

{% block content %}
 <div class="container" style="margin-top : 30px">
    <h2>{% block name %}{% endblock %}</h2>
    <img src="/upload/{% block image %}{% endblock %}" alt="not found" style="height: 300px; width:200px">
    <div style="margin-top: 30px;">
        <h5><b>GENDER : </b> <span>{% block gender %}{% endblock %}</span></h5>
        <h5><b>HEIGHT : </b> <span>{% block height %}{% endblock %} feet</span></h5>
        <h5><b>SIGN : </b> <span>{% block sign %}{% endblock %}</span></h5>
    </div> 

         {% block movies %}
         {% endblock %}
         
    <div style="margin-top: 20px;">
         <h5><b>Description : </b></h5>
         <p>{% block description %}{% endblock %}</p>
    </div>
 </div>
{% endblock %}