{% extends "base.html.twig" %}

{% block head %}
<style>
    .logo{
        height: 45px;
        width: 150px;
        margin: auto;
        border-radius: 8px;
        padding-top: 10px;
    }
    .logo h5{
        text-align: center;    
    }
     .logo a{
        text-decoration: none;
        color:black ;
    }
</style>
{% endblock %}

{% block body %}
<div style="margin-top: 40px">
    <div class="bg-warning logo">
        <a href="#"><h5><b>MOVIE CRITIC</b></h5><a/>
    </div>
</div>
<div class="container" style="width: 500px; margin-top: 20px; border: 1px solid black;">
    <h3 style="margin: 10px; text-align: center"><b>
        {% block formname %}
        {% endblock %}
        </b></h3>

    {% block formbody %}
    {% endblock %}
</div>
{% endblock %}
